{% extends 'drive/main.html' %}

{% block title %}
Commandes
{% endblock %}

{% block content %}
<h2>Liste des commandes</h2>
<a href="/drive/ajoutcommande/">Ajouter une commande</a>
{% if erreur %}
    <p>{{ erreur }}</p>
{% endif %}
<ol>
    {% for co in liste %}
        <li>
            Commande numero {{ co.numero }} - {{ co.client.prenom }} {{ co.client.nom }} - {{ co.date_commande|date:"d/m/Y" }}
            <a href="/drive/affichecommande/{{ co.numero }}/">afficher les details</a>
            <a href="/drive/deletecommande/{{ co.numero }}/">effacer</a>
            <a href="/drive/updatecommande/{{ co.numero }}/">mise a jour</a>
        </li>
    {% endfor %}
</ol>
{% endblock %}
