{% extends 'drive/main.html' %}

{% block title %}Drive{% endblock %}

{% block content %}
    <div class="menu">
        <div class="card">
            <h2>Categories</h2>
            <p>Gestion des categories.</p>
            <a href="/drive/categories/" class="btn">Acceder</a>
        </div>
        <div class="card">
            <h2>Produits</h2>
            <p>Gestion des produits.</p>
            <a href="/drive/produits/" class="btn">Acceder</a>
        </div>
        <div class="card">
            <h2>Clients</h2>
            <p>Gestion des clients.</p>
            <a href="/drive/clients/" class="btn">Acceder</a>
        </div>
        <div class="card">
            <h2>Commandes</h2>
            <p>Gestion des commandes.</p>
            <a href="/drive/commandes/" class="btn">Acceder</a>
        </div>
        <div class="card">
            <h2>Import CSV</h2>
            <p>Importer des produits.</p>
            <a href="/drive/importproduitscsv/" class="btn">Importer</a>
        </div>
    </div>
{% endblock %}
